<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page2</key>
		<dict>
			<key>CreationDate</key>
			<date>2007-01-04T02:01:55Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>5E6917A9-E9F8-4E1C-880C-0FD957A8A560</string>
			<key>PageDigests</key>
			<dict>
				<key>Donors.html</key>
				<dict>
					<key>Digest</key>
					<data>
					WnfPx046woYKad5SDGpB1Q==
					</data>
					<key>Size</key>
					<integer>71385</integer>
				</dict>
				<key>files/page2_1.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/AoVTk+C+mINiO1SSdhZ+g==
					</data>
					<key>Size</key>
					<integer>960</integer>
				</dict>
				<key>files/page2_2.png</key>
				<dict>
					<key>Digest</key>
					<data>
					AuLddNjUVkFDSyQmEoZ+9g==
					</data>
					<key>Size</key>
					<integer>325</integer>
				</dict>
				<key>files/page2_3.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					pDPcDTo9+GPbvm3BfMQ/xA==
					</data>
					<key>Size</key>
					<integer>4553</integer>
				</dict>
				<key>files/page2_4.png</key>
				<dict>
					<key>Digest</key>
					<data>
					wDUPAQPaITFc7wLvLOS4EA==
					</data>
					<key>Size</key>
					<integer>4787</integer>
				</dict>
				<key>files/page2_5.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VShf4PGgNudFytyjNnDurg==
					</data>
					<key>Size</key>
					<integer>7522</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page2</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
